.thumb {
    width: 30px !important;
}
.full-height {
  height: 100%;
}
aside {
  .sidebar {
    background-color: rgba(0, 0, 0, 0.09);
    padding: 20px;
    margin-right: -20px;
    margin-top: -20px;
  }
  .trending-link {
    &.item {
      display: flex;
    }
    .question_title {
      flex-grow: 1;
    }
  }
}
.main aside .trending-link a {
  color: rgba(34, 44, 66, 0.77) !important;
}
pre[class*="language-"] {
  padding: 20px 0;
  margin: 20px 0;
}
.question-content {
  margin: 0 -10px;
}
.full-width {
  width: 100%;
}
.answers.header {
  font-weight: 300;
  margin: 20px 0;
  line-height: 50px;
}
