$blue: #225be2;

.thumb {
    width: 30px !important;
}
.full-height {
  height: 100%;
}
aside {
  .sidebar {
    background-color: rgba(0, 0, 0, 0.09);
    padding: 20px;
    margin-right: -20px;
    margin-top: -20px;
  }
  .trending-link {
    &.item {
      display: flex;
    }
    .question_title {
      flex-grow: 1;
    }
  }
}
.main aside .trending-link a {
  color: rgba(34, 44, 66, 0.77) !important;
}
pre[class*="language-"] {
  padding: 20px 0;
  margin: 20px 0;
}
.question-content {
  margin: 0 -10px;
}
.full-width {
  width: 100%;
}
.answers.header {
  font-weight: 300;
  margin: 20px 0;
  line-height: 50px;
}
.new-answer {
  .title {
    span.tips {
      font-size: 0.6em;
      padding-left: 10px;
      font-weight: 300;
      color: #888;
    }
  }
}
.user-question-area {
  .options {
    margin-top: 3rem;
    .item {
      color: rgba(69, 78, 86, 0.64);
      text-decoration: none;
      font-size: 90%;
      padding: 0.5rem;
      border-radius: 0.4rem;
      transition: color 1s, background-color 1s;
      &:hover {
        color: rgba(69, 78, 86, 0.99);
        background-color: rgba(0, 0, 0, 0.12);
      }
    }
  }
}
code {
  color: #E82D2D;
  background-color: rgba(0, 0, 0, 0.07);
  padding: 3px 5px;
}
.two.wide.column, .ui.comments .comment {
  .rate-up, {
    &:hover { border-bottom-color: #79AFE8; }
  }
  .rate-down, {
    &:hover { border-top-color: #79AFE8; }
  }
  .flag, {
    &:hover { color: #79AFE8; }
  }
}

.ui {
  .comment.form {
    font-size: 1em;
    textarea {
      height: auto;
      min-height: 1em;
      color: #666;
    }
    .ui.button {
      font-size: 1em;
    }

  }

  .comments {
    .text.main-comment {
      padding-top: 0;
    }
    .comment {
      padding: 0;
    .author {
       font-size: 0.9em;
       color: #444;
       font-weight: bold;
     }
    .text {
      font-size: 0.9em;
      color: #444;
    }
    .metadata {
     font-size: 0.775em;
     }
     .points-holder {
       position: absolute;
       transition: opacity 0.3s ease;
       right: 100%;
       padding-right: 10px;
       .points {
         color: #999;
         padding-top: 2px;
         text-align: center;
       }
     }
     .rate-up, .rate-down, .flag {
       opacity: 0;
       margin: 0 auto;
       cursor: pointer;
     }
     .rate-up, .rate-down {
       border-left: 8px solid transparent;
       border-right: 8px solid transparent;
     }
     .rate-up {
       border-bottom: 8px solid #888;
     }
     .rate-down {
       border-top: 8px solid #888;
     }
     &:hover {
       .points-holder {
           .rate-up, .rate-down, .flag {
           opacity: 1
         }
       }
     }

     .ui.dividing.header {
       margin: 0 auto;
     }


   }
   .new-comment-actions {
     margin-top: 1rem;
     .new-comment-link {
       font-size: 0.9em;
       color: #888;
       transition: color 0.2s ease;
       &:hover {
         color: #444;
       }
     }
   }
 }
}
.centered.loading.circle {
  margin: 0 auto;
}
.copy {
  font-size: 0.8em;
  span {
    color: $blue;
  }
}
.share-popup {
  cursor: pointer;
}
.header-text {
  font-size: 0.8em;
  span {
    color: $blue;
  }
}
.search-area {
  form.ui.search {
  display: inline-flex;
  .ui.input {
    flex-grow: 1;
  }
  }
  #searchResults {
    border: 1px solid #eee;
    min-height: 20px;
    position: absolute;
    z-index: 1000;
    opacity: 1;
    background-color: #fff;
    box-shadow: 0px 1px 3px #eee;
    ul {
      list-style: none;
      padding-left: 10px;
      li {
        line-height: 2em;
        // border-bottom: 1px solid #eee;
        padding-top: 0.2em;
      }
    }
  }

}
.hide {
  display: none;
}
.new-question {
  .tips {
    font-size: 0.8em;
    font-weight: 300;
    color: #888;
    margin-top: 5px;
  }
}
