.ui.modal {
  .header {
    background-color: rgba(74, 144, 226, .7);
    color: #fff;
    text-align: center;
    h4 {
      font-weight: 100;
      font-size: $small;
    }

    p {
      font-size: 14px;
      font-weight: 100;
    }
  }

  .main.content {
    height: 420px;
    overflow: auto;

    .ui.grid.container {
      justify-content: center;
      flex-flow: row wrap;

      .tag {
        position: relative;
        margin: 10px 0 10px 1rem;
        padding: 0;
        max-width: 150px;
        overflow: hidden;
        transition-duration: 0.6s;

        &:hover {
          transform: scale(1.1);
          img {
          }
          
          .overlay {
            z-index: 20;
            visibility: visible;
          }
        }
        
        img {
        }

        &.selected {
          .overlay {
            visibility: visible;
          }
          .icon {
            color: #21ba45;
          }
        }

        .overlay {
          position: absolute;
          color: #fff;
          background-color: rgba(0,0,0,.5);
          width: 100%;
          height: 100%;
          display: flex;
          align-items: center;
          justify-content: center;
          visibility: hidden;

          .icon {
            margin-top: -30px;
            font-size: 2em;
            cursor: pointer;
          }
        }

        p {
          background-color: rgba(74, 144, 226, .7);
          width: 100%;
          color: #fff;
          padding: 8px;
          position: absolute;
          bottom: 0;
          // left: 25%;
        }
      }
    }
  }

  .actions {
    background-color: #ebebeb;
    text-align: center;

    &.valid {
      background-color: seagreen;

      a {
        color: #fff;
        cursor: pointer;
      }
    }

    a {
      color: #666;

      &[disabled] {
        cursor: not-allowed;
      }
    }
  }
}