.preview {
	background: lighten($primary-color, 45);
	margin-top: 10px;
	padding: 20px;
	width: 100%;
	
	.title {
		font-weight: 300;
    span {
      padding: 0 20px;
			font-size: 80%;
			font-style: italic;
    }
	}
}
