.user-index {

}

.navigation {
  margin-bottom: 25px;

  .ui.menu {
    font-family: $roboto;
    height: 40px;

    .logo-wrapper {
      .logo {
        width: 90px;
      }
    }

    .right.menu {
      .item {
        font-size: em(12px);
        font-weight: 500;
      }
    }

  }

}

.search-area {
  border-bottom: 1px solid $lines;
  padding-bottom: 15px;
  margin-bottom: 35px;
  font-family: $roboto;
  font-size: inherit;
  width: 100%;

  .ui.icon.input {
    width: 78%;

    .prompt {
      background-color: $box-fill;
      border: 1px solid $lines;
      border-radius: 0;
      color: inherit;
      font-family: inherit;
      text-indent: 35px;
    }

    .search.icon {
      left: 0;
    }
  }

  .ui.button {
    border-radius: 0;
    font-family: $roboto;
    font-size: inherit;
    font-weight: 400;
    background-color: $accent-color;
    color: $site-bg;

    &.search {
      background-color: $primary-color;
      margin-left: -4px;
      margin-right: 8px;
    }
  }
}

.main {

  h2 {
    font-weight: 300;
    font-size: $medium;
    padding-bottom: 15px;
  }

  .question-section {
    border-bottom: 1px solid $lines;
    margin-bottom: 25px;

    &:last-of-type {
      border: 0;
    }
  }

  .divided.three.column {
    text-align: center;

    [class$="-count"] {
      color: $primary-color;
      font-size: $small;
    }

    [class$="-title"] {
      font-weight: 300;
      font-size: $base-size;
    }
  }

  .ten.wide.column {
    padding-bottom: 22px;

    .question-link {
      font-size: $small;
    }

    .equal.width.grid {
      margin-top: -5px;

      .tags {
        span {
          background-color: $box-fill;
          padding: 5px;
          margin-right: 5px;
          margin-left: 5px;

          &:first-child {
            margin-left: 0;
          }
        }
      }

      .username {
        margin-right: 15px;
        font-weight: 700;
      }

      [alt="profile-image"] {
        width: 20px;
        transform: translateY(-4px);
      }
    }
  }
}

.footer {
  background-color: $body-text;
  color: $site-bg;
  margin-top: 50px;

  .ui.grid {
    @include display(flex);
    @include align-items(center);

    .floated {
      padding-top: 40px;
    }
  }

  img {
    width: 120px;
  }
}
.user-index {

}

.main {

  h2 {
    font-weight: 300;
    font-size: $medium;
    padding-bottom: 15px;
  }

  .question-section {
    border-bottom: 1px solid $lines;
    margin-bottom: 25px;

    &:last-of-type {
      border: 0;
    }
  }

  .stats-values {
    text-align: center;

    [class$="-count"] {
      color: $primary-color;
      font-size: $small;
      text-align: center;
    }

    [class$="-title"] {
      font-weight: 300;
      font-size: $base-size;
      text-transform: lowercase;
    }
  }

  .question {
    padding-bottom: 22px;

    .question-link {
      color: $primary-color;
      font-size: $small;
    }

    .metadata {
      font-size: 12px;
      margin-top: -5px;

      .column:last-of-type {
        text-align: right;

        @media screen and (max-width: 767px) {
          text-align: left;

          .username {
            display: inline;
          }
        }
      }

      .tags {
        @include display(flex);
        @include flex-direction(row);
        @include flex-wrap(wrap);
        @include justify-content(flex-start);
        span {
          margin: -5px 5px 5px;
          background: lighten($body-text, 65%);
          padding: 2px 5px;
          border-radius: 5px;
          text-transform: lowercase;
        }
      }

      .username {
        color: $primary-color;
        display: inline-block;
        font-weight: 400;
        margin-right: 15px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        width: 120px;
      }

      [alt="profile-image"] {
        width: 20px;
        transform: translateY(-4px);
      }
    }
  }
}
